@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/Resources/Material-Icons.woff2) format('woff2');
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans'), local('JosefinSans'), url(/Resources/JosefinSans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: local('Indie Flower'), local('IndieFlower'), url(/Resources/IndieFlower.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%; }
    60% {
        left: 100%;
        right: -90%; }
    100% {
        left: 100%;
        right: -90%; } }
@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%; }
    60% {
        left: 100%;
        right: -90%; }
    100% {
        left: 100%;
        right: -90%; } }
@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%; }
    60% {
        left: 107%;
        right: -8%; }
    100% {
        left: 107%;
        right: -8%; } }
@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%; }
    60% {
        left: 107%;
        right: -8%; }
    100% {
        left: 107%;
        right: -8%; } }

::selection {
    background: #3F51B5;
    color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
}

body, html {
    margin: 0;
    color: #212121;
    overflow: hidden;
    background: #039BE5;
}

header {
    width: 90%;
    background: #F44336;
    height: 200px;
    color: #FFFFFF;
    padding: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.26) inset;
}

header h1 {
    font-size: 60px;
    text-shadow: 8px 4px 2px rgba(150, 150, 149, 0.33);
}

header p {
    font-size: 21px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Indie Flower", cursive;
    font-weight: 400 !important;
    text-shadow: 8px 4px 2px rgba(150, 150, 149, 0.43);
}

body {
    font-family: "Josefin Sans", sans-serif;
}

code, pre {
    font-family: "Ubuntu Mono", "Courier New", "Consolas", monospace;
}

.landing-down-arrow {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: #DDDDDD;
    font-family: "Indie Flower", cursive;
    font-size: 30px;
}

.landing-down-arrow .material-icons {
    font-size: 200px;
}

.landing-down-arrow .landing-down-to-be-clicked {
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
}

.landing-down-arrow .landing-down-to-be-clicked:hover {
    color: #212121;
    text-shadow: 8px 4px 2px rgba(150, 150, 149, 0.33);
}

.page {
    height: 100%;
    width: 100%;
    display: none;
    background: #FFFFFF;
}

.top-settings-bar {
    width: 95%;
    height: 54px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
    padding: 5px 2.5%;
    line-height: 54px;
}

.top-settings-bar .settings-button {
    width: 50px;
    height: 50px;
    margin-left: 80%;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    transition: all 1s;
    line-height: inherit !important;
    text-align: center;
}

.settings-button .material-icons {
    font-size: 35px !important;
    line-height: inherit !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-settings-bar .brand {
    font-size: 39px;
    font-family: "Indie Flower", cursive;
    display: inline-block;
    min-width: 200px;
    height: 50px !important;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 5px;
    text-shadow: 8px 4px 2px rgba(150, 150, 149, 0.43);
}

.ripple{
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    overflow: hidden;
    -webkit-transform: translateZ(0); /* to contain zoomed ripple */
    transform: translateZ(0);
    border-radius: inherit; /* inherit from parent (rounded buttons etc) */
    pointer-events: none; /* allow user interaction */
}
.rippleWave{
    backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(0.7); -webkit-transform: scale(0.7);
    background: rgba(255, 82, 82, 1);
    opacity: 0.45;
    animation: ripple 1.4s forwards;
    -webkit-animation: ripple 1.4s forwards;
}
@keyframes ripple {
    to {transform: scale(24); opacity: 0;}
}
@-webkit-keyframes ripple {
    to {-webkit-transform: scale(24); opacity: 0;}
}

.column {
    width: 44%;
    padding: 2%;
    margin-left: 1%;
    margin-top: 1%;
    height: 77%;
    overflow: auto;
    display: inline-block;
}

.container {
    width: 96%;
    height: 77%;
    overflow: auto;
    display: block;
    padding: 2%;
}

.input-group {
    position: relative;
    margin: 40px 0 20px;
    display: inline-block;
    width: 100%;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    font-family: inherit;
}

input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: rgba(255, 82, 82, 1);
}

.bar {
    position: relative;
    display:block;
    width:100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: rgba(255, 82, 82, 1);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* animations */
@-webkit-keyframes inputHighlighter {
    from { background: rgba(255, 82, 82, 1); }
    to   { width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background: rgba(255, 82, 82, 1); }
    to   { width: 0; background: transparent; }
}
@keyframes inputHighlighter {
    from { background: rgba(255, 82, 82, 1); }
    to   { width: 0; background: transparent; }
}

.fab {
    position: fixed;
    top: 85%;
    right: 3%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: rgba(255, 82, 82, 1);
    color: #FFFFFF;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    cursor: pointer;
    transition: all 0.3s;
    z-index: 200;
}

.fab:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    -webkit-animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
}

.fab .material-icons {
    font-size: 40px;
    line-height: 60px;
}

.dropdown-container {
    min-width: 200px;
    border-radius: 3px;
    background: #FFFFFF;
    position: fixed;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
}

.dropdown-container .dropdown-link:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dropdown-container .dropdown-link:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dropdown-container .dropdown-link {
    display: block;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    line-height: 40px;
    width: 97%;
    text-decoration: none;
    color: rgba(255, 82, 82, 1);
    transition: all 0.4s;
    font-size: 22px;
    border-left: 3px solid rgba(255, 82, 82, 1);
}

.dropdown-container .dropdown-link:hover {
    background: rgba(255, 82, 82, 1);
    color: #FFFFFF;
}

.toast {
    background: rgba(255, 82, 82, 0.8);
    color: #FFFFFF;
    height: 60px;
    width: 47%;
    position: fixed;
    top: 80%;
    left: 25%;
    line-height: 60px;
    font-size: 18px;
    padding-left: 2%;
    padding-right: 20px;
    transition: all 0.3s;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
    display: none;
    z-index: 500;
}
.toast .close {
    transition: all 0.3s;
    text-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 10px;
}

.toast .close:hover {
    text-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    color: #DDD;
}

.modal-container {
    width: 100%;
    z-index: 100;
    height: 100%;
    background: rgba(255, 87, 34, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.modal-container .modal {
    width: 48%;
    position: fixed;
    left: 25%;
    padding: 1%;
    min-height: 300px;
    background: #FFFFFF;
    border-radius: 2px;
    top: 10%;
    display: none;
}

.modal .uri-data {
    width: 98%;
    padding: 1%;
    background: #E53935;
    border-radius: 2px;
    height: 30px;
    color: #FFFFFF;
    margin-bottom: 10px;
    cursor: pointer;
}

.modal .uri-data img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.8);
}

.uri-data .title {
    font-size: 20px;
    font-family: "Indie Flower", cursive;
}

.modal .close {
    position: absolute;
    right: 2px;
    top: 2px;
    transition: all 0.3s;
    text-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    cursor: pointer;
    font-size: 35px;
    color: #F44336;
}

.modal .close .material-icons {
    color: inherit !important;
    font-size: 35px;
}

.modal .close:hover {
    text-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    color: #DDD;
}

.btn {
    background-color: #F44336;
    font-family: inherit;
    padding: 1%;
    border: none;
    font-size: inherit;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    transition: 0.3s all;
    display: inline-block;
}

.btn .material-icons {
    font-size: inherit !important;
}

.btn:hover {
    background: #E53935;
}

.urlChecked {
    display: block;
    width: 100%;
    color: #7e7e7e;
    font-size: 18px;
}

.urlChecked .material-icons {
    font-size: inherit !important;
}

#createContainer {
    margin-top: 20px;
}

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: rgba(255, 82, 82, 0.5);
    border-radius: 2px;
    background-clip: padding-box;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}
.progress .indeterminate {
    background-color: rgba(255, 82, 82, 1);
}
.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

.urls-container {
    width: 100%;
    height: 79%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.36) inset;
    border-radius: 2px;
    overflow: auto;
}

.urls-container .url {
    width: 97%;
    padding: 2% 1%;
    cursor: pointer;
    border-left: 3px #E53935 solid;
    border-top: #e4e4e4 1px solid;
    border-bottom: #e4e4e4 1px solid;
    transition: 0.4s all;
}

.urls-container .url:hover {
    background: linear-gradient(90deg, #E53935, rgba(255, 82, 82, 0.5));
    color: #FFFFFF;
}

.urls-container .url .favicon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.urls-container .url .title {
    font-size: 22px;
}

.stat-oc {
    width: 98%;
    padding: 1%;
    border-radius: 4px;
    color: #FFFFFF;
    background: #D32F2F;
    font-size: 18px;
    margin-top: 10px;
}

.chat-container {
    width: 100%;
    height: 76%;
}
.chat-container .chat-transcript {
    height: 78%;
    width: 98%;
    padding: 1%;
    overflow: auto;
}

.chat-container .chat-transcript .chat-message {
    width: 98%;
    padding: 1%;
    border-top: #e4e4e4 1px solid;
    border-bottom: #e4e4e4 1px solid;
}

.chat-transcript .self {
    text-align: right;
}

.chat-message .from-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 22px;
    font-family: "Indie Flower", cursive;
    text-align: center;
    color: #FFFFFF;
    margin-right: 5px;
}

.chat-container .chat-input {
    height: 18%;
    width: 98%;
    padding: 1%;
}
